body{
    background-color: lightblue;
}
#interes{
    color: coral;
}
.informacion{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.titulos{
    text-align: center;
    color: coral;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      
}
.abajo{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#tabla3{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    justify-content: center;
    display:flex;
    
    
}
.experiencia{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
.tabla1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    justify-content: center;
    display:flex;
}